name: Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - run: npm ci
      - run: npm run build

      - name: Deploy to S3
        run: |
          npx yfm publish \
            -i _build \
            --endpoint https://s3.twcstorage.ru \
            --region ru-1 \
            --bucket ${{ secrets.TIMEWEB_S3_BUCKET }} \
            --access-key-id ${{ secrets.TIMEWEB_S3_ACCESS_KEY }} \
            --secret-access-key ${{ secrets.TIMEWEB_S3_SECRET_KEY }}